@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Color01: crimson;
  --Color02: #222a35;
  --gray: #383b3f;
  --White: white;
  --Black: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

/*///////////////////////////////////////////////////////*/
/* Main Portfolio */
/*///////////////////////////////////////////////////////*/
.portfolio {
  max-width: 1000px;
  background-color: aqua;
}

/*///////////////////////////////////////////////////////*/
/* Social Media & Contact Container */
/*///////////////////////////////////////////////////////*/
.social-section {
  width: 100%;
}
.social__Icon {
  width: 5rem;
  height: 5rem;
  background-color: aquamarine;
}
.social__Icon i {
  width: 5rem;
  height: 5rem;
  background-color: rgb(12, 187, 129);
}
