@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Color01: #dc143c;
  --Color02: #222a35;
  --gray: #354357;
  --White: #ffffff;
  --Black: #080808;
  --Gradients: linear-gradient(-45deg, orangered, var(--Color01));
  --Gradients2: linear-gradient(-45deg, #25a53a, #00c635);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body {
  margin: auto;
}
button {
  border: none;
  padding: 8px 20px;
  color: var(--White);
  background-image: var(--Gradients);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--White);
}
/*///////////////////////////////////////////////////////*/
/* Main Portfolio */
/*///////////////////////////////////////////////////////*/
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*///////////////////////////////////////////////////////*/
/* Social Media & Contact Container */
/*///////////////////////////////////////////////////////*/
.socialContact-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem 10rem;
  background-color: var(--Color02);
}
.social-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.social-div a {
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--gray);
  border-radius: 50px;
  line-height: 1.7rem;
  text-align: center;
  transition: 1s ease-out all;
}
.social-div a:hover {
  background-color: var(--White);
  color: var(--Color01);
  scale: 1.2;
}

.contact-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*///////////////////////////////////////////////////////*/
/* Navbar Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Hero Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Why Us / Our Advantage Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* About Us Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Our Services Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Our Portfolio Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Our Process Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Reviews / Peoples About Us  Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Our Skills Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Start Your New Project Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Our Packages Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Our Contact Container Start Here */
/*///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////*/
/* Footer Container Start Here */
/*///////////////////////////////////////////////////////*/
